# LetsMakeIt Environment Settings
# Rename this to .env for local use

# Database
SQLALCHEMY_DATABASE_URL=sqlite:///./data/sql_app.db
SECRET_KEY=CHANGE_ME

# API Settings
DEBUG=True
PROJECT_NAME="LetsMakeIt"
